<div class="header-container teal darken-3">
</div><!-- .listing-header-map-container -->
<div class="d-xl-flex">
  <div #map></div>
  <div class="order-xl-0 listing-column listing-column--xl-50 bg-wild-sand">
    <div class="pricing-table bg-white head">
     <div class="pricing-table__body ">
      <ul class="min-list inline-list listing-tabs">
       <li class="listing-tab">
         <h5 class="c-black">
           Создай свой маршрут уже сейчас!
         </h5>
       </li><!-- .listing-tab -->
      </ul>
     </div>
    </div><!-- .pricing-table -->
    <form class="main-search " #paramsForm="ngForm" >
    <div class="pricing-table bg-white ">
     <div class="pricing-table__body">
       <ul class="pricing-table__features min-list">
         <div class="main-search-container">
 
             <div class="main-search__group main-search__group--primary">
               <label for="startPoint" class="c-primary">Начало маршрута</label>
               <input type="text" 
               required 
                name="startPoint" id="startPoint" class="form-input form-input--pill form-input--border-c-gallery form-control" placeholder="Красная площадь"  autocorrect="off" autocapitalize="off"  spellcheck="off" #startPoint>
               <div class="alert" *ngIf="startPoint.required && !start">
                Начало маршрута обязательно для построения маршрута!
              </div>
             </div><!-- .main-search__group -->

           
  
             <div class="main-search__group">
               <label for="main-search-location" class="c-primary">Конец маршрута</label>
               <input required type="text" name="location" id="main-search-location" class="form-input form-input--pill form-input--border-c-gallery form-control" placeholder="Парк Победы"  autocorrect="off" autocapitalize="off"  spellcheck="off" #endPoint>
               <div class="alert" *ngIf="endPoint.required && !end">
                Конец маршрута обязателен для построения маршрута!
              </div>  
             </div><!-- .main-search__group -->

             
             <div class="main-search__group main-search__group--tertiary">
               <button type="submit" class="button button--medium button--pill button--primary" (click)="setParams(paramsForm)">
                 <i class="fa fa-search"></i> Построить маршрут
               </button>
             </div>
        </div><!-- .main-search-container -->
       </ul>
     </div>
  </div><!-- .pricing-table -->
  
  <div class="pricing-table bg-white params">
   <div class="pricing-table__body ">
  
      <div class="main-search__group main-search__group--primary">
        <label for="main-search-place" class="c-primary bold">Достопримечательность</label>
        <input type="text" name="place" id="main-search-place" (keydown.enter)="findPlace()" class="form-input form-input--pill form-input--border-c-gallery" placeholder="Красная площадь" autocorrect="off" autocapitalize="off"  spellcheck="off" #searchpl>
      </div><!-- .main-search__group -->

      <div class="main-search__group">
      <label for="freeHours" class="c-primary">Количество свободного времени</label>
      <input type="text" name="freeHours" id="freeHours" class="form-input form-input--pill form-input--border-c-gallery"  required [(ngModel)]="freeHours" placeholder="2 часа">
    </div><!-- .main-search__group -->

      <ul class="pricing-table__features min-list">
          <div class="main-search__group main-search__group--primary">
            <label for="main-search-relax-types" class="c-primary bold">Вид отдыха</label>
        </div><!-- .main-search__group -->
        <li *ngFor="let item of way_options">
          <div class="form-group">
            <label for="culture_type" class="icheck_label">
              <input type="checkbox" [checked]="item.selected" (change)="item.selected = !item.selected">
                {{item.name}}
            </label>
          </div>
        </li>
    </ul>
  
     <ul class="pricing-table__features min-list">
         <div class="main-search__group main-search__group--primary">
           <label for="main-search-transport-types" class="c-primary bold">Вид транспорта</label>
       </div><!-- .main-search__group -->
       <li>
          <div class="form-group">
            <label for="WALKING" class="icheck_label">
              <input type="checkbox" name="WALKING" id="WALKING" required [(ngModel)]="WALKING">
              Пеший
            </label>
          </div>
        </li>
        <li>
          <div class="form-group">
            <label for="BICYCLING" class="icheck_label">
              <input type="checkbox" name="BICYCLING" id="BICYCLING" required [(ngModel)]="BICYCLING">
              На велосипеде
            </label>
          </div>
     </li>
  
     <li>
       <div class="form-group">
         <label for="DRIVING" class="icheck_label">
           <input type="checkbox" name="DRIVING" id="DRIVING" required [(ngModel)]="DRIVING">
           На машине
         </label>
       </div>
     </li>
  
     <li>
       <div class="form-group">
         <label for="TRANSIT" class="icheck_label">
           <input type="checkbox" name="TRANSIT" id="TRANSIT" required [(ngModel)]="TRANSIT">
           На автобусе
         </label>
       </div>
     </li>
  
  </ul>
   <div class="main-search__group">
     <label for="main-search-number-of-pl" class="c-primary bold">Количество мест для посещения</label>
     <input type="text" name="placesToVisit" id="placesToVisit" class="form-input form-input--pill form-input--border-c-gallery" required [(ngModel)]="placesToVisit" placeholder="3">
   </div><!-- .main-search__group -->
   </div>
  </div><!-- .pricing-table -->
  </form>
  </div><!-- .listing-column -->
<div class="order-xl-1 listing-column listing-column--xl-50 listing-column--content ">
  <div class="c-black">
    популярные места <span class="keyword">{{cityName}}</span>
  </div>

  <div class="listing-filter-container">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
      <div class="listing-filter-container">
        <div class="d-lg-flex">
          <ul class="min-list inline-list listing-filter listing-filter--list">
            <li>
              <a (click)="clearAddedPlaces()">
                Удалить точки из машрута
              </a>
            </li>
            <li>
              <a (click)="sendPopularLocations()" routerLink="/mapPage">
                <i class="fa fa-location"></i>
                Посмотреть на карте
              </a>
            </li>

          </ul><!-- .listing-filter -->
          <a (click)="toggle()" class="listing-expand">
            Больше фильтров
            <i class="fa fa-angle-down"></i>
          </a>
        </div><!-- d-flex -->
      </div><!-- .listing-filter-container -->

    </div><!-- .d-md-flex -->
    
    <div [ngClass]="{invisible: visibility}" class="d-lg-flex justify-content-lg-between align-items-lg-center hideDiv listing-keyword--on-map ">

        <ul class="min-list inline-list listing-filter listing-filter--list">
          <li>
            <div class="form-group">
              <label for="food" class="icheck_label">
                <input type="radio" (click)="setIndex(0);loadPlaces()" name="food" id="food">
                Гастрономический гид
              </label>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label for="hotels" class="icheck_label">
                <input type="radio" (click)="setIndex(1);loadPlaces()" name="hotels" id="hotels">
                Отели
              </label>
            </div>
          </li>

          <li>
            <div class="form-group">
              <label for="bars" class="icheck_label">
                <input type="radio" (click)="setIndex(2);loadPlaces()" name="bars" id="bars">
                Бары
              </label>
            </div>
          </li>

          <li>
            <div class="form-group">
              <label for="active" class="icheck_label">
                <input type="radio" (click)="setIndex(3);loadPlaces()" name="active" id="active">
                Активный отдых
              </label>
            </div>
          </li>

          <li>
            <div class="form-group">
              <label for="museums" class="icheck_label">
                <input type="radio" (click)="setIndex(4);loadPlaces()" name="museums" id="museums">
                Галереи и музеи
              </label>
            </div>
          </li>

          <li>
            <div class="form-group">
              <label for="shops" class="icheck_label">
                <input type="radio" (click)="setIndex(5);loadPlaces()" name="shops" id="shops">
                Аутлеты и ТЦ
              </label>
            </div>
          </li>
        </ul>
      </div>
  </div><!-- .listing-filter-container -->

  
  <div class="d-md-flex flex-md-wrap justify-content-between list-view " *ngFor="let lm of placeDetails, let i = index">
    <div class="list-view__item">
      <div class="listing hover-effect">
        <div class="d-sm-flex align-items-sm-center listing__wrapper">
          <div class="listing__thumbnail">
            <a>
              <img src="{{lm.photos[0]}}">
              <a *ngIf="locations[i].choose; then redHeart else whiteHeart"> </a>
              <ng-template #redHeart>
                <span class="favorite c-white" (click)="deleteFromFavP(locations[i], i)" >
                  <i class="fa fa-heart"></i>
                </span>
              </ng-template>
              <ng-template #whiteHeart>
                <span class="favorite c-white" (click)="addToFavP(i)">
                  <i class="fa fa-heart-o"></i>
                </span>
              </ng-template>
        </a>
          </div><!-- .listing__thumbnail -->
          <div class="d-flex justify-content-between align-items-center listing__detail">
            <div class="listing__detail-left">
              <h3 class="listing__title">
                <a href="">{{lm.name}}</a>
              </h3>
              <a>
                <span *ngIf="locations[i].addedToWay" class="favoriteLabel c-secondary">Добавлена к маршруту
                </span>
              </a>
              <p class="listing__review c-dusty-gray">
                <span class="stars-outer" data-rating="5"> {{lm.rating}}
                  <span class="stars-inner"></span>
                </span>
                <span></span>
              </p>
              <p class="listing__location c-dusty-gray no-b-margin">
                <i class="fa fa-map-marker"></i>
                  {{lm.address}}
              </p>
            </div>

             <div class="listing__detail-right">
              <button class="button button--primary  button--large button--pill b" type="submit" (click)="sendPlaceId(i)" routerLink="/landmarkPage">Подробнее</button>
              <div *ngIf="locations[i].addedToWay; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <button class="button button--primary  button--large button--pill b" type="submit" (click)="deleteFromWay(i)">Удалить из маршрута</button>
                </ng-template>
                <ng-template #elseBlock>
                  <button class="button button--primary  button--large button--pill b" type="submit" (click)="addToWay(i)">Добавить к маршруту</button>
                </ng-template>
              
            </div>
          </div><!-- .listing__detail -->
        </div><!-- .listing__wrapper -->
      </div><!-- .listing -->
    </div><!-- .list-view__item -->

  </div><!-- .d-md-flex -->

</div><!-- .listing-column -->

</div>
