<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-login js-login-form">
        <div class="form-login__block js-form-block is-selected" id="signin">
          <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
            <div class="form-container">
              <h3 class="form-title t-center">Вход в систему</h3>
              <div class="form-social">
                <div class="form-group">
                  <div class="form-group__wrapper">
                    <button
                      class="button button--social button--google button--pill button--large button--block" type="button"
                    >
                    <div>
                    </div>
                      Войти с помощью Google
                    </button>
                    <span class="form-group__icon form-group__icon--social">
                  <i class="fa fa-google c-white"></i>
                </span>
                  </div><!-- .form-group__wrapper -->
                </div><!-- .form-group -->

              </div><!-- .form-social -->
              <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input
                  type="text"
                  class="form-input form-input--pill form-input--border-c-gallery"
                  name="username"
                  [(ngModel)]="form.username"
                  required
                  #username="ngModel"
                  placeholder="jhon12"
                />
                <i class="mdi mdi-account"></i>
                <div
                  class="alert alert"
                  role="alert"
                  *ngIf="f.submitted && username.invalid"
                >
                  Имя пользователя обязательно для заполнения
                </div>
              </div><!-- .form-group -->

              <div class="form-group">
                <label for="password">Пароль</label>
                <input
                  type="password"
                  class="form-input form-input--pill form-input--border-c-gallery"
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  minlength="6"
                  #password="ngModel"
                  placeholder="******"
                />
                <i class="mdi mdi-eye"></i>
                <div
                  class="alert alert"
                  role="alert"
                  *ngIf="f.submitted && password.invalid"
                >
                  <div *ngIf="password.errors.required">Пароль обязателен для заполнения</div>
                  <div *ngIf="password.errors.minlength">
                    Пароль должен содержать минимум 6 символов
                  </div>
                </div>
              </div><!-- .form-group -->

              <div class="form-group">
                <div class="form-group__container">
                  <a class="c-gray js-block-trigger">Забыли пароль?</a>
                </div><!-- .form-group__container -->
              </div><!-- .form-group -->

              <div class="form-group">
                <button class="button button--primary button--pill button--large button--block button--submit">
                  Войти
                </button>
              </div>

              <div class="form-group">
                <div
                  class="alert"
                  role="alert"
                  *ngIf="f.submitted && isLoginFailed"
                >
                  Что-то пошло не так! Введите пароль и/или имя пользователя ещё раз. 
                </div>
              </div>

              <div class="form-group--footer">
                <span class="c-gray">
                  Впервые на нашем сайте?
                  <a routerLink="/signUpPage"  class="c-primary t-underline js-block-trigger">Регистрация!</a>
                </span>
              </div>
            </div><!-- .form-container -->
            <div class="alert alert-success" *ngIf="isSuccessful">
            Добро пожаловать!
            </div>

            </form><!-- .reset -->
          </div><!-- .form-login__block -->
        </div><!-- .form-login -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->