<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 grey-text font-weight-bold">О проекте</h6>
          <div class="setting-group">
            <ul class="setting-container min-list">
              <li class="setting">
                <i class="fa fa-info-circle setting__icon c-white"></i>
                <a routerLink = "/" class="setting__link c-white">Информация о проекте</a>
              </li>
            </ul><!-- .setting-container -->
          </div><!-- setting-group -->
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold grey-text">Компания</h6>
          <div class="setting-group">
            <ul class="setting-container min-list">
              <li class="setting">
                <i class="fa fa-group setting__icon c-white"></i>
                <a routerLink = "/" class="setting__link c-white">Наша команда</a>
              </li>
            </ul><!-- .setting-container -->
          </div><!-- setting-group -->
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold grey-text">Ссылки</h6>

          <div class="setting-group">
            <ul class="setting-container min-list">

              <li class="setting" *ngIf="!isLoggedIn">
                <i class="fa fa-user setting__icon c-white"></i>
                <a href="/logInPage" class="setting__link c-white" routerLink="logInPage">Войти</a>
              </li>
        
              <li class="setting" *ngIf="isLoggedIn">
                <i class="fa fa-user setting__icon c-white"></i>
                <a href="/profilePage" class="setting__link c-white" routerLink="profilePage">{{ username }}</a>
              </li>
              
              <li class="setting">
                <i class="fa fa-map setting__icon c-white"></i>
                <a routerLink = "/wayParamsPage" class="setting__link c-white" >Создай свой первый маршрут!</a>
              </li>

              <li class="setting">
                <i class="fa fa-send setting__icon c-white"></i>
                <a routerLink = "/" class="setting__link c-white">Помощь</a>
              </li>
            </ul><!-- .setting-container -->
          </div><!-- setting-group -->
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold grey-text">Контакты</h6>
          <div class="setting-group">
            <ul class="setting-container min-list">
              <li class="setting c-white">
                <i class="fa fa-compass setting__icon c-white"></i>
                Воронеж, Россия
              </li>
              
              <li class="setting c-white">
                <i class="fa fa-google-plus setting__icon c-white"></i>
               1step4ward@gmail.com
              </li>

              <li class="setting c-white">
                <i class="fa fa-phone setting__icon c-white"></i>
               + 7 999 999 99 99
              </li>
            </ul><!-- .setting-container -->
          </div><!-- setting-group -->
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left grey-text">© 2020:
            <a>
              <strong class="grey-text"> OneStep4ward.com</strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  <mdb-icon fab icon="facebook"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  <mdb-icon fab icon="twitter"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  <mdb-icon fab fab icon="google-plus"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  <mdb-icon fab icon="linkedin"></mdb-icon>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->
