.containerMap {
  border: 3px solid #1c2331;
  margin-top: 20%;
  margin-bottom: 20%;
  padding: 0;
  height: 700px;
  position: relative;
  width: 90%;
}

agm-map {
  height: 100%;
}

::ng-deep aside {
  background-color: white;
  padding: 2em 1em;
  width: 100%;
}

.siderbar-container{
  position: absolute;
  height: 60%;
  z-index: 99;
  width: 25%;
  margin-left: 75%;
}

.input-place-container{
  position: absolute;
  width: 45%;
  height: 10%;
  z-index: 99;
}

.btn {
  margin-right: 5%;
}
