<button class="btn btn-outline-dark" type="submit" (click)="placesFromAlg()">Построить маршрут</button>
<div class="containerMap">
  <div class="input-place-container">
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #searchplace>
  </div>
  <div class="siderbar-container">
    <!-- Page content -->
    <div ng-sidebar-content>
      <button class="btn-way teal darken-3 text-white" (click)="_toggleOpened()">Посмотреть маршруты</button>
    </div>

    <ng-sidebar-container>
      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened" position="right">
        <div class="ways-sidebar">
          <div  *ngFor="let d of dataw, let i = index " class="accordion">
              <div class="accordion-container">
                  <div class="accordion__header" (click)="toggle(d.index)">
                    {{setLabel(d.index)}}: {{d.name}}
                  </div><!-- .accordion__header -->
   
                  <div class=" toggle" *ngIf="visibility[d.index]">
                    <div class="d-sm-flex accordion__inner ">
                      <div class="c-dove-gray accordion__desc" >
                        <li class="d-flex align-items-center c-silver-charlice listing-contact">
                          <i class="fa fa-compass listing-contact__icon"></i>
                          {{d.address}}
                        </li>
                        <li class="d-flex align-items-center c-silver-charlice listing-contact">
                          <i class="fa fa-clock-o listing-contact__icon"></i>
                          {{timeToNext[d.index]}} (минуты)
                        </li>
                        <li class="d-flex align-items-center c-silver-charlice listing-contact">
                          <i class={{travelModesIcons[d.index]}}></i>
                          {{travelModesStr[d.index]}}
                        </li>
                        <ul class="min-list listing-contact-list">
                            <a href="#">
                              <i class="fa fa-heart c-silver-charlice"></i>
                              Сохранить
                            </a>
   
                            <a (click)="newLocation(way.points[d.index], photosw[d.index], ratingw[d.index], dataw[d.index].address, dataw[d.index].name,typesw[d.index], numberw[i])" routerLink="/landmarkPage">
                              <i class="fa fa-share-alt c-silver-charlice"></i>
                              Подробнее
                            </a>
                        </ul><!-- .listing-contact-list -->
                      </div><!-- .accordion__desc -->
                    </div><!-- .accordion__inner -->
                  </div><!-- .accordion__content -->
            </div><!-- .listing-section -->
        </div>
        </div>
      </ng-sidebar>

    </ng-sidebar-container>

  </div>
  <agm-map
  *ngIf = "visibilityOfPopularplaces"
    [latitude]="locations2[0].lat"
    [longitude]="locations2[0].lng"
    [zoom]="15"
    [disableDoubleClickZoom]="true"
    [showDefaultInfoWindow]="false">

    <agm-marker
    
    [markerDraggable]="false"
    *ngFor="let location of locations2, let iy = index"
    [latitude]="location.lat"
    [longitude]="location.lng"
    (dragEnd)="markerDragEnd($event)"
    (markerClick)="markerClicked(window)"
    >
    <agm-info-window #window>
      <div class="container">
        <div class="col100 mt-4">
        <h5>{{details[iy].name}} | {{details[iy].rating}}</h5>
        </div>
        <div class="col100 mt-1" >
        {{details[iy].address}}
        </div>
        <div class="col100 mt-4 d-flex justify-content-center">
          <img height="200" width="300" src={{details[iy].photos[0]}}>
        </div>
        <div class="col100 mt-4 d-flex justify-content-center">
          <!--<button class="btn btn-outline-dark" type="submit" (click)="newLocation(loc, photos, rating, address, name, number, types)" routerLink="/landmarkPage">Подробнее</button>-->
          <button class="btn btn-outline-dark" type="submit" (click)="sendPlaceId(iy)"routerLink="/landmarkPage">Подробнее</button>
        </div>
      </div>
  </agm-info-window >
    </agm-marker>

  </agm-map>

  <agm-map
  *ngIf = "!visibilityOfPopularplaces"
    [latitude]="way.points[0].lat"
    [longitude]="way.points[0].lng"
    [zoom]="15"
    [disableDoubleClickZoom]="true"
>
<agm-marker
    *ngFor="let location of way.points, let iy = index"
    [latitude]="location.lat"
    [longitude]="location.lng"
    (dragEnd)="markerDragEnd($event)"
    (markerClick)="markerClicked(window2,iy)"
    [label]="setLabel(iy)"
    >
    
    <agm-info-window #window2>
      <div class="container">
        <div class="col100 mt-4">
        <h5>{{dataw[iy].name}} | {{ratingw[iy]}}</h5>
        </div>
        <div class="col100 mt-1" >
        {{ dataw[iy].address}}
        </div>
        <div class="col100 mt-4 d-flex justify-content-center">
          <img height="200" width="300" src={{photosw[iy][0]}}>
        </div>
        <div class="col100 mt-4 d-flex justify-content-center">
          <button class="btn btn-outline-dark" type="submit" (click)="newLocation(way.points[d.index], photosw[d.index], ratingw[d.index], dataw[d.index].address, dataw[d.index].name,typesw[d.index], numberw[i])" routerLink="/landmarkPage">Подробнее</button>
        </div>
      </div>
  </agm-info-window >
    </agm-marker>
    <agm-direction
    *ngFor="let dir of dirWalk, let iy = index"
    [origin]="dirWalk[iy].origin" 
    [destination]="dirWalk[iy].destination"  
    [renderOptions]="renderOptionsWalk" 
    [travelMode]="dirWalk[0].travelMode"
    > </agm-direction>
    <agm-direction
    *ngFor="let dir of dirTrans, let iy = index"
    [origin]="dirTrans[iy].origin" 
    [destination]="dirTrans[iy].destination"  
    [renderOptions]="renderOptionsTrans" 
    [travelMode]="dirTrans[0].travelMode"
    > </agm-direction>
    <agm-direction
    *ngFor="let dir of dirCar, let iy = index"
    [origin]="dirCar[iy].origin" 
    [destination]="dirCar[iy].destination"  
    [renderOptions]="renderOptionsCar" 
    [travelMode]="dirCar[0].travelMode"
    > </agm-direction>
    <agm-direction
    *ngFor="let dir of dirBic, let iy = index"
    [origin]="dirBic[iy].origin" 
    [destination]="dirBic[iy].destination"  
    [renderOptions]="renderOptionsBic" 
    [travelMode]="dirBic[0].travelMode"
    > </agm-direction>
   
  </agm-map>

</div>
