<button class="btn btn-outline-dark" type="submit"  routerLink="/profilePage">Профиль</button>
<button class="btn btn-outline-dark" type="submit"  routerLink="/wayParamsPage">Параметры</button>
<button class="btn btn-outline-dark" type="submit" (click)="placesFromAlg()">Построить маршрут</button>
<div class="containerMap">
  <div class="input-place-container">
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #searchplace>
  </div>
  <div class="siderbar-container">
    <!-- Page content -->
    <div ng-sidebar-content>
      <button class="btn-way teal darken-3 text-white" (click)="_toggleOpened()">Посмотреть маршруты</button>
    </div>

    <ng-sidebar-container>
      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened" position="right">
        <div class="ways-sidebar">
          <div  *ngFor="let d of dataw, let i = index " class="accordion">
              <div class="accordion-container">
                  <div class="accordion__header" (click)="toggle(d.index)">
                    {{d.name}}
                  </div><!-- .accordion__header -->
   
                  <div class=" toggle" *ngIf="visibility[d.index]">
                    <div class="d-sm-flex accordion__inner ">
                      <div class="c-dove-gray accordion__desc" >
                        <li class="d-flex align-items-center c-silver-charlice listing-contact">
                          <i class="fa fa-compass listing-contact__icon"></i>
                          {{d.address}}
                        </li>
                        <ul class="min-list listing-contact-list">
                            <a href="#">
                              <i class="fa fa-heart c-silver-charlice"></i>
                              Сохранить
                            </a>
   
                            <a (click)="newLocation(way.points[d.index], photosw[d.index], ratingw[d.index], dataw[d.index].address, dataw[d.index].name,typesw[d.index], numberw[i])" routerLink="/landmarkPage">
                              <i class="fa fa-share-alt c-silver-charlice"></i>
                              Подробнее
                            </a>
                        </ul><!-- .listing-contact-list -->
                      </div><!-- .accordion__desc -->
                    </div><!-- .accordion__inner -->
                  </div><!-- .accordion__content -->
            </div><!-- .listing-section -->
        </div>
        </div>
      </ng-sidebar>

    </ng-sidebar-container>

  </div>
  <agm-map
  *ngIf = "visibilityOfPopularplaces"
    [latitude]="locations2[0].lat"
    [longitude]="locations2[0].lng"
    [zoom]="locations2[0].zoom"
    (mapClick)="mapClick($event)"
    (mapDblClick)="mapDoubleClick($event)"
    [disableDoubleClickZoom]="true"
    [showDefaultInfoWindow]="true">

    <agm-marker
    
    [markerDraggable]="true"
    *ngFor="let location of locations2, let iy = index"
    [latitude]="location.lat"
    [longitude]="location.lng"
    (dragEnd)="markerDragEnd($event)"
    (markerClick)="markerClicked(window,iy)"
    >
    <agm-info-window #window>
      <div class="container">
        <div class="col100 mt-4">
        <h5>{{name}} | {{rating}}</h5>
        </div>
        <div class="col100 mt-1" >
        {{address}}
        </div>
        <div class="col100 mt-4 d-flex justify-content-center">
          <img height="200" width="300" src={{photo}}>
        </div>
        <div class="col100 mt-4 d-flex justify-content-center">
          <button class="btn btn-outline-dark" type="submit" (click)="newLocation(loc, photos, rating, address, name, number, types)" routerLink="/landmarkPage">Подробнее</button>
        </div>
      </div>
  </agm-info-window >
    </agm-marker>

  </agm-map>

  <agm-map
  *ngIf = "!visibilityOfPopularplaces"
    [latitude]="way.points[0].lat"
    [longitude]="way.points[0].lng"
    [zoom]="locations2[0].zoom"
    [disableDoubleClickZoom]="true"
>
<agm-marker>
  <agm-direction
   *ngIf="dir" 
   [origin]="dir.origin" 
   [destination]="dir.destination"  
   [waypoints]="waypoints"
   [renderOptions]="renderOptions" 
  [markerOptions]="markerOptions"
   > </agm-direction>
</agm-marker>
  </agm-map>

</div>
